.t-test-container {
    padding: 20px 6% 20px 20px; /* Add padding around the entire component */
    background-color: #f9f9f9; /* Light grey background */
  }
  
  .t-test-table {
    border-collapse: collapse;
    width: 100%; /* Make the table take full width */
    margin-top: 20px; /* Space above the table */
    background-color: #f3f3f3; /* Light grey background */
  }
  
  .t-test-table th,
  .t-test-table td {
    border: 1px solid #ccc;
    padding: 5px; /* Consistent padding for table cells */
    text-align: left; /* Default text alignment */
  }
  
  .t-test-table th {
    background-color: #c7c7c7; /* Light background for header */
    vertical-align: bottom; /* Align cell text to the bottom */
  }
  
  .t-test-table td input {
    width: 95%; /* Set width to 95% for inputs */
    box-sizing: border-box; /* Include padding and border in width */
  }
  
  .remove-row-button,
  .add-row-button, 
  .calculate-button {
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 15px; /* Rounded corners */
    font-size: 15px; /* Adjust the size as needed */
    font-weight: bold; /* Bold text */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }
  
  .remove-row-button:hover {
    background-color: #560000; /* Darker on hover */
  }
  
  .add-row-button {
    margin: 0px;
    padding: 0px;
    width: 25px; /* Fixed width */
    height: 25px; /* Fixed height */
    background-color: #000; /* Black background */
    color: white; /* White text */
    display: flex; /* Flexbox for centering */
    font-size: 20px; /* Adjust the size as needed */
    margin-top: 10px; 
    margin-bottom: 50px; 
    transition: background-color 0.5s ease;
  }

  .calculate-button {

    margin-top: 10px;    
    width: 200px; /* Fixed width */
    height: 25px; /* Fixed height */
    background-color: #000; /* Black background */
    color: white; /* White text */
    display: flex; /* Flexbox for centering */
    font-size: 20px; /* Adjust the size as needed */
    transition: background-color 0.5s ease;
  }

  .calculate-button:hover {
    background-color: #ffffff;
    color:rgb(0, 0, 0)
  }
  .t-test-table tr:first-child {
    height: 20px; /* Set the desired height for the first row */
  } 

  .t-test-table td.center,
  .t-test-table th.center {
    text-align: center; /* Center text in cells */
  }
  
  .t-test-table th:first-child,
  .t-test-table td:first-child {
    background-color: #f9f9f9; /* Transparent background */
    border: none; /* No border */
    text-align: center; /* Center text in cells */
    width: 30px; /* Fixed width for the first column */
  }
  
  .t-test-table th:nth-child(2) {
    width: 50px;
  }
  
  .t-test-table th:nth-child(3) {
    width: 20%; /* Set width for the label column */
  }
  
  .t-test-table th:nth-child(4),
  .t-test-table th:nth-child(5),
  .t-test-table th:nth-child(6) {
    width: 20%; /* Set width for mean, std, and N columns */
  }
  
  .add-row-button {
    min-width: 300px; /* Set fixed width */
    min-height: 20px; /* Set a minimum height for the button */
    background-color: #000; /* Black background */
    color: white; /* White text */
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically, if needed */
  }
  /* Assuming you have a class for your dropdowns */
.dropdown-container {
    margin-top: 20px; /* Adjust the value as needed */
  }
  
  /* If the dropdowns are direct children of a specific class, you could do: */
  .t-test-container select {
    margin: 10px 0; /* Adjusts vertical spacing between dropdowns */
  }

  .dropdown-label {
    margin-right: 10px;
  }


  .highlight {
    background-color: green;
    color: white;
  }
  .results-table{
    text-align: center;
    margin: 10px;
    padding: 10px
  }
  .results-table td, 
  .results-table th {
    text-align: center;
    margin: 5px;
    padding: 5px
  }
 

  .results-table th {
    background-color: #c7c7c7; /* Replace with your desired color */
    color: #333; /* Text color, adjust as needed */
    border: #000 1px solid;
  }

  .mean-std-dev-table th:first-child, .mean-std-dev-table td:first-child {
    background-color: #f9f9f9;
    border: none;
    text-align: center;
    width: 30px;
  }
  
  