.t-test-container {
    padding: 20px 6% 20px 20px; /* Add padding around the entire component */
    background-color: #f9f9f9; /* Light grey background */
  }

  .tabs {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 2px solid #7a0101; /* Add a bottom border to the tabs */
    color: black;
  }
  
  .tabs button {
    margin-right: 10px;
    padding: 10px 20px; /* Add padding for a more button-like appearance */
    border: none;
    background-color: #f3f3f3; /* Default background color */
    cursor: pointer;
    border-radius: 5px 5px 0 0; /* Rounded corners on the top */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  }
  
  .tabs button.active {
    background-color: #c7c7c7; /* Change the active tab background */
    font-weight: bold;
    border: 2px solid #ccc; /* Add a border to active tab for emphasis */
    border-bottom: 2px solid #7a0101; /* Prevent the border from overlapping the content */
    color: black;
  }
  
  .tabs button:hover {
    background-color: #d0d0d0; /* Slightly darker background on hover */
    color: black;
  }
  